#cordosite {
   color: #d79cff;
   background-color: rgb(215, 156, 255);
};

#sombra {
   box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.3);
};

a:link {
color: blue;
background-color: transparent;
text-decoration: none;
};

a:visited {
color: #d79cff;
background-color: transparent;
text-decoration: none;
};

a:hover {
color: black;
background-color: transparent;
text-decoration: underline;
};

a:active {
color: pink;
background-color: transparent;
text-decoration: underline;
};

.btn-blue:hover {
   color: #fff;
   background-color: #0069d9;
   border-color: #0062cc;
 }
 
 .btn-blue:focus, .btn-primary.focus {
   box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.5);
 }
 
 .btn-blue.disabled, .btn-primary:disabled {
   background-color: #007bff;
   border-color: #007bff;
 }
 
 .btn-blue:not([disabled]):not(.disabled):active, .btn-primary:not([disabled]):not(.disabled).active,
 .show > .btn-primary.dropdown-toggle {
   color: #fff;
   background-color: #0062cc;
   border-color: #005cbf;
   box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.5);
 }
