#fotoPerfil{
    width: 150px;
    height: 150px;
    border-radius: 100%;
    box-shadow: -3px 3px 10px gray;
}
#fotoPerfil:hover{
    
}
#foto{
    margin-top: -75px;
    margin-left: 70px;
    position: absolute;
    z-index: 2;
}
#caixaTexto{
    margin-top: -2px;
    width: 900px;
    height: 250px;
    position: relative;
    z-index: 1;
}
#texto{
    padding-top: 75px;
}
#fotoCapa{
    width: 900px;
    height: 230px;
}
#capa{
    margin-top: 50px;
    position: relative;
    z-index: 1;
}
#nomeEmpresa{
    font-size: 25px;
}
#tipoEmpresa{
    font-size: 17px;
}
#colunaText{
    width: 900px;
    height: 290px;
    margin-top: -2px;
    background-color: rgb(245, 245, 245);
}
#Vagas{
    font-size: 17px;
    font-weight: bold;
}
#caixa{
    margin-left: -70px;
    width: 900px;
    height: 519px;
    box-shadow: 0px 4px 10px gray;
}
#editar{
    z-index: 1;
    position: absolute;
}
#input_capa{
    margin-left: 750px;
    margin-top: 195px;
    z-index: 2;
    position: absolute;
    width: 25px;
    height: 25px;
}
#input_img{
    z-index: 2;
    width: 100%;
    height: 100%;
    opacity: 0;
    position: absolute;
}
#vagasDisponiveis{
    margin-top: -250px;
    margin-left: 600px;
}
#propaganda{
    margin-top: -520px;
    margin-left: 880px;
    width: 300px;
    height: 300px;
    background-color: #d79cff;
    box-shadow: 0px 4px 10px gray;
}
#patrocinador{
    width: 100%;
    height: 100%;
}
#textoSobre{
    position: relative;
    margin-top: 250px;
}
#confirmar{
    margin-left: 30px;
}
#editarFotoPerfil{
    margin-left: -580px;
    z-index: 2;
    position: absolute;
    width: 25px;
    height: 25px;
}
#editarFotoPer{
    z-index: 2;
    width: 100%;
    height: 100%;
    opacity: 0;
    position: absolute;
}
